.dropdown {
	margin-top: 50px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.dropdown__btn {
	width: 300px;
	height: 100px;
	font-size: 20px;
	background-color: rgb(107, 107, 107);
	color:aliceblue
}
.dropdown__body {
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 300px;
	width: 300px;
	background-color: rgb(45, 112, 71);
	display: none;
}

.dropdown__link {
	font-size: 20px;
	color: aliceblue;
}